html,body{margin:0;padding:0}
body{font: 76% arial,sans-serif;text-align:center; width:1920px; height:1080px;}
p{margin:0 10px 10px}
a{padding:5px; text-decoration:none; color:#F3F2ED;}
div#container{text-align:left}
div#container{margin:0 auto}
div#header{background-color:#F3F2ED;}
div#header{height:80px; line-height:80px; margin:0; padding-left:10px;}
div#login{text-align:left; font-size:16px; }
div#login{position:static; top:10px; right:20px;}